/* File: src/index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a; /* Warna hitam yang sama dengan aplikasi */
}

#root {
  min-height: 100vh;
}